body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 30px;
}