/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 40px;
    padding: 10px 20px;
    border: 2px solid blue;
    transition: 0.3s;
}

a:hover {
    background-color: blue;
    color: white;
}

span {
    color: orange;
}

h2 {
    color: green;
}